<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Bad+Script|Oswald:400,700|Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
</head>
<body>
<div id="container">
	<img src="restaurant.jpg">
	<%= yield %>
<div id="results"></div>
</div>
</body>
</html>