<header>
	<h1>Chicago Health Inspections</h1>
	<h3>Eat Safely...</h3>
</header>

<form method="get" action="/results">
	<h3>Search For Restaurants</h3>
	<div>
		<label for="AKA Name">Restaurant Name:</label>
		<input type="text" name="restaurant[AKA Name]" placeholder="Restaurant Name">
	</div>
	<div>
		<label for="Address">Address:</label>
		<input type="text" name="restaurant[Address]" placeholder="Address">
	</div>
	<div>
		<label for="Zip">Zip Code:</label>
		<input type="text" name="restaurant[Zip]" placeholder="Zip Code">
	</div>
	<div>
		<input type="submit" value="Search">
	</div>
</form>